* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 3rem;
  background-color: rgb(238, 104, 133);
  display: flex;
  justify-content: center;
}
.todo {
  /* padding-left: 25em; */
  /* align-items: center; */
  /* border: 2px solid black; */
  display: inline-block;
  
  border-radius: 1.9%;
  align-items: center;
  min-height: 80vh;
  height: fit-content;
  width: 50vw;
  margin: 0 auto;
  text-align: center;
  background: rgb(194, 191, 191);
  box-shadow: 5px 5px 5px;
  word-break: keep-all;
}
.input {
  width: 26vw;
  display: inline-block;
  height: 2.5rem;
  border-radius: 10px;
  border-style: none;
  border-bottom: 2px solid palevioletred;
  /* border-bottom: 2px solid black; */
  /* font-size: large; */
  outline: none;
  margin-bottom: 0.7%;
  margin-left: 9.4%;
  /* margin-right: 2%; */
}
.button {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: black;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin-left: 0.4em;
}
.button:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: skyblue;
  border-radius: 10rem;
  z-index: -2;
}
.button:before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: darken(skyblue, 15%);
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.button:hover {
  color: #047965;
  border: #333333;
}
.button:before {
  width: 100%;
}
.phase {
  color: #eb0c17;
}

h1 {
  color: rgb(223, 118, 32);
  margin: 2% auto;
  /* background: rgb(58, 96, 128); */
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
  width: fit-content;
  
}
h2 {
  color: #333333;
  text-align: start;
}

.btn {
  font: inherit;
  padding: 1.5% 2.5%;
  cursor: pointer;
  border-radius: 4px;
  background-color: #800040;
  color: white;
  border: 1px solid #800040;
  margin: 0 1rem;
}

.btn:hover {
  background-color: #9c1458;
  border-color: #9c1458;
}

.btn--alt {
  background-color: transparent;
  color: #800040;
}

.btn--alt:hover {
  background-color: #f8dae9;
}

.card {
  /* display: inline-block;
  display: flex;
  justify-content: space-between; */
  background-color: rgb(165, 217, 238);
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  width: 50%;
  height: auto;
  margin: 0 auto;
  /* overflow: scroll; */
  /* overflow: auto; */
  word-wrap: break-word;
}

.actions {
  text-align: right;
}

.modal {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  padding: 1rem;
  text-align: center;
  width: 30rem;
  z-index: 10;
  position: fixed;
  top: 20vh;
  left: calc(50% - 15rem);
}

.backdrop {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
/* @media screen and (min-width: ) {
  
} */
